.deps
.libs
.dirstamp

AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
README

Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing

*.lo
*.o
*.la

poptrie_test_basic
poptrie_test_basic6
stamp-h1

